<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body style="background: #eedddd;">
    <!-- Navigation Section -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#section2">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/slightlybae/AI-Translator-WebApp">Source Code</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1 style="margin-bottom: 20px; color: blueviolet;">Translate by Chii</h1>
        <h2 style="color: #0082ca;">Halo!<img style="width:25px; margin-bottom: 10px;"
                src="https://img.icons8.com/emoji/48/null/waving-hand-medium-skin-tone.png" /></h2>
        <div>Enter the text you wish to translate below, choose the language, and click Translate!</div>
        <div>
            <form method="POST">
                <div class="form-group">
                    <textarea name="text" cols="20" rows="10" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px; margin-bottom: 10px;" for="language">Language:</label>
                    <select name="language" class="form-control">
                        <option value="en">English</option>
                        <option value="af">Afrikaans</option>
                        <option value="sq">Albanian</option>
                        <option value="ar">Arabic</option>
                        <option value="eu">Basque</option>
                        <option value="ca">Catalan</option>
                        <option value="lzh">Chinese (Literary)</option>
                        <option value="hr">Croatian</option>
                        <option value="cs">Czech</option>
                        <option value="da">Danish</option>
                        <option value="nl">Dutch</option>
                        <option value="fil">Filipino</option>
                        <option value="fr">French</option>
                        <option value="el">Greek</option>
                        <option value="de">German</option>
                        <option value="he">Hebrew</option>
                        <option value="ga">Irish</option>
                        <option value="it">Italian</option>
                        <option value="ru">Russian</option>
                        <option value="ja">Japanese</option>
                        <option value="tlh-Latn">Klingon</option>
                        <option value="ko">Korean</option>
                        <option value="lo">Lao</option>
                        <option value="nb">Norwegian</option>
                        <option value="or">Odia</option>
                        <option value="fa">Persian</option>
                        <option value="pl">Polish</option>
                        <option value="pt">Portuguese</option>
                        <option value="ro">Romanian</option>
                        <option value="ru">Russian</option>
                        <option value="so">Somali</option>
                        <option value="es">Spanish</option>
                        <option value="sw">Swahili</option>
                        <option value="sv">Swedish</option>
                        <option value="tr">Turkish</option>
                        <option value="vi">Vietnamese</option>
                        <option value="ur">Urdu</option>
                        <option value="de">German</option>
                    </select>
                </div>
                <div style="margin-top:10px;
                margin-bottom:20px; text-align: center;">
                    <button type="submit" class="btn btn-success" style="width: 250px;">Translate!</button>
                </div>
            </form>
        </div>
    </div>


    <div id="section1" class="container mt-2 mb-4 shadow-lg p-3 rounded">

        <article class="container-fluid">
            <h4>Read about my written articles on Microsoft Technologies</h3>
                <ul>
                    <li>
                        <a href="https://beata.hashnode.dev/building-a-chatbot-with-microsoft-power-virtual-agents"
                            style="text-decoration: none;">
                            <p> Building a Chatbot with Microsoft Power Virtual Agents</p>
                        </a>
                    </li>
                    <li>
                        <a style="text-decoration: none;"
                            href="https://beata.hashnode.dev/the-8-free-microsoft-fundamental-certifications-for-students">
                            <p> The 8 Free Microsoft Fundamental certifications for students</p>
                        </a>
                    </li>
                    <li>
                        <a style="text-decoration: none;"
                            href="https://techcommunity.microsoft.com/t5/educator-developer-blog/building-an-accessible-application-with-power-platform/ba-p/3549935">
                            <p>Building An Accessible Application with Power Platform</p>
                        </a>
                    </li>
                </ul>



        </article>

        <div class="container-fluid" style="margin-top: 20px;">
            <h4>Videos about Microsoft Technologies</h3>

                <div class="flex-container sec-1">

                    <div class="card sec-2 mb-4" style="width: 15rem;">
                        <iframe class="card-img-top" width="218" height="297"
                            src="https://www.youtube.com/embed/Hf3qQ3JKB84" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h6 class="card-title">Screen Record with snipping tool on windows 11</h6>
                        </div>
                    </div>

                    <div class="card sec-2  mb-4" style="width: 15rem;">
                        <iframe class="card-img-top" width="218" height="297"
                            src="https://www.youtube.com/embed/GXR9vfIgVjU" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h6 class="card-title">Personalize your taskbar on windows 11</h6>
                        </div>
                    </div>

                    <div class="card sec-2  mb-4" style="width: 15rem;">
                        <iframe class="card-img-top" width="218" height="297"
                            src="https://www.youtube.com/embed/IjXtaCZxr30?start=5" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                        </iframe>
                        <div class="card-body">
                            <h6 class="card-title">Send mails automatically using Microsoft Form, Excel and Power
                                Automate
                            </h6>
                        </div>
                    </div>

                </div>


        </div>

    </div>


    <!--Footer section-->
    <footer id="section2" class="text-center text-white" style="background-color: #eedddd;">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Twitter -->
                <a class="btn btn-link btn-floating text-white m-1" style="background-color: #55acee;"
                    href="https://twitter.com/CBe_ata" role="button" data-mdb-ripple-color="dark"><i
                        class="bi bi-twitter"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-link btn-floating text-white m-1" style="background-color: #0082ca;"
                    href="https://linkedln.com/Chino Ikwuegbu" role="button" data-mdb-ripple-color="dark"><i
                        class="bi bi-linkedin"></i></a>
                <!-- Github -->
                <a class="btn btn-link btn-floating text-white m-1" style="background-color: #333333;"
                    href="https://github.com/slightlybae" role="button" data-mdb-ripple-color="dark"><i
                        class="bi bi-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-dark text-decoration-none" href="">Made with <i class="bi bi-heart-fill"> by Chii</i></a>
        </div>
        <!-- Copyright -->
    </footer>
    <!--Footer End Section-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>